:root {
  --toggle_base_width: 50px;
  --toggle_base_height: 25px;
  --toggle_base_padding: 0.23rem;
}

/*
 *toggles
 * */

.toggle-container {
  display: flex;
}

.horizontal {
  flex-direction: row;
  justify-content: center;
}

.vertical {
  align-items: center;
  flex-direction: column;
}

.toggle {
  border-bottom-left-radius: 50%100%;
  border-bottom-right-radius: 50%100%;
  border-top-left-radius: 50%100%;
  border-top-right-radius: 50%100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
}

.toggle-ball {
  border-radius: 50%;
  height: 95%;
  width: 43%;
}

.toggle-s {
  height: var(--toggle_base_height);
  padding: var(--toggle_base_padding);
  width: var(--toggle_base_width);
}

.toggle-m {
  --addW: calc(var(--toggle_base_width) * 0.4);
  --addH: calc(var(--toggle_base_height) * 0.4);
  height: calc(var(--toggle_base_height) + var(--addH));
  padding: calc(var(--toggle_base_padding) * 1.1);
  width: calc(var(--toggle_base_width) + var(--addW));
}

.toggle-l {
  --addW: calc(var(--toggle_base_width) * 0.8);
  --addH: calc(var(--toggle_base_height) * 0.8);
  height: calc(var(--toggle_base_height) + var(--addH));
  padding: calc(var(--toggle_base_padding) * 1.2);
  width: calc(var(--toggle_base_width) + var(--addW));
}
