.toggle-container > label {
  font-size: 1.1em;
}

@media (min-width: 360px) {
  .toggle-container > label {
    font-size: 1.2em;
  }
}

@media (min-width: 400px) {
  .toggle-container > label {
    font-size: 1.3em;
  }
}
