/*----------------Mobile---------------*/
body {
  background-color: lime;
}

main {
  min-height: 100vh;
}

div[id="drum-machine"] {
  border: 2px solid slateGray;
  border-radius: 8px;
}

div[id="display"] {
  margin-bottom: 20px;
  min-height: 180px;
}

div[id="display"] label {
  font-weight: bold;
}

/*-----------------Desktop-------------*/
@media (min-width: 601px) {
  body {
    background-color: magenta;
  }
}
