div[id="drum-pad"] {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
}

div[id="drum-pad"] > input[type="button"] {
  border-radius: 10%;
  font-weight: bold;
  font-size: 2.5em;
  box-shadow: 3px 3px grey;
}

@media (min-width: 360px) {
  div[id="drum-pad"] {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }

  div[id="drum-pad"] > input[type="button"] {
    font-size: 2.8em;
  }
}

@media (min-width: 400px) {
  div[id="drum-pad"] {
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(3, 110px);
  }

  div[id="drum-pad"] > input[type="button"] {
    font-size: 3.1em;
  }
}
