div[id="drum-pad"] {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

div[id="drum-pad"] > input[type="button"] {
  border-radius: 10%;
  font-weight: bold;
  font-size: 2.5em;
  box-shadow: 3px 3px grey;
}
