div[id="message-box"] {
  border-radius: 8px;
}

label[id="message"] {
  font-size: 1.2em;
}

@media (min-width: 360px) {
  label[id="message"] {
    font-size: 1.3em;
  }
}

@media (min-width: 400px) {
  label[id="message"] {
    font-size: 1.4em;
  }
}
